/applications/tests export-ignore
/applications/tests/** export-ignore
/features/access/tests export-ignore
/features/access/tests/** export-ignore
/modules/core/tests export-ignore
/modules/core/tests/** export-ignore
/modules/login/tests export-ignore
/modules/login/tests/** export-ignore
/modules/compliance/tests export-ignore
/modules/compliance/tests/** export-ignore
/modules/cloud_save/tests export-ignore
/modules/cloud_save/tests/** export-ignore
/tools/taptap/adapter/tests export-ignore
/tools/taptap/adapter/tests/** export-ignore
/tools/taptap/cloud_save/tests export-ignore
/tools/taptap/cloud_save/tests/** export-ignore
/tools/taptap/simulator/tests export-ignore
/tools/taptap/simulator/tests/** export-ignore
/tools/taptap/android_plugin export-ignore
/tools/taptap/android_plugin/** export-ignore
/.gitattributes export-ignore
